<div class="card flex" data-id='{{id}}' data-date='{{date}}'>
    <div class="card-img">
    </div>
    <div class="card-info flex">
        <div class="card-title flex">
            <div class="ctl flex">
                <h3>{{title}}</h3>
            </div>
            <div class="ctr flex">
                {{#if discover}}
                <img src="/assets/images/edit-24px.svg" alt="Edit" class="svg-img-button" onclick="editRecipe('{{id}}')">
                <img src="/assets/images/delete_forever-24px.svg" alt="Del" class="svg-img-button" onclick="deleteRecipe('{{id}}')">
                {{else}}
                <img src="/assets/images/star_border-24px.svg" alt="Fav" class="svg-img-button">
                <img src="/assets/images/thumb_up_alt-24px.svg" alt="Vote" class="svg-img-button">
                {{/if}}
            </div>
        </div>
        <div class="card-body fl-fl">
            <div class="card-info-left fl-col-fl">
                <p>Author: {{auth}}</p>
                <P>User: {{username}}</P>
                <p>Type: {{ty}}</p>
                <p>Link: {{link}}</p>
            </div>
            <div class="card-info-right fl-col-fl">
                <p>Prep Time: {{prep}}</p>
                <p>Cook Time: {{cook}}</p>
                <p>Servings: {{serving}}</p>
                <p>Cuisine: {{cuis}}</p>
                {{!-- <p>Calories P/S: {{calories}}</p> --}}
            </div>
        </div>
    </div>
</div>