<div class="nr-container fl-col rel wrapper-child hide" data-id={{id}}>
    {{> exit_button}}
    <div class="nr-he fl-col">
        <div class="filler"></div>
        {{!-- Header area, Title, Picture(?), Maybe some other info --}}
        <div class="nr-he-info">
            <h3 class='recipe-info'>{{title}}</h3>
            <h4 class='recipe-info'>By: {{auth}}</h4>
            <h4><a href="{{url}}" class='recipe-info' target="blank">{{url}}</a></h4>
        </div>
    </div>


    <div id="vr-in" class="nr-in fl-col">
        {{!-- List of ingredients --}}
        <div class="flex">
            <h2>Ingredients</h2>
            <span class="nr-in-sp"></span>
            <div class="fl-col ai-cen sub-info">
                <p>Prep Time</p>
                <p class='recipe-info'>{{preptime}}</p>
            </div>
            <span class="nr-in-sp"></span>
            <div class="fl-col ai-cen sub-info">
                <p>Cook Time</p>
                <p class='recipe-info'>{{cooktime}}</p>
            </div>
            <span class="nr-in-sp"></span>
            <div class="fl-col ai-cen sub-info">
                <p>Servings</p>
                <p class='recipe-info'>{{serving}}</p>
            </div>
            <span class="nr-in-sp"></span>
            <div class="fl-col ai-cen sub-info">
                <p>Cuisine</p>
                <p class='recipe-info'>{{cuis}}</p>
            </div>
            <span class="nr-in-sp"></span>
        </div>
        <hr>
        <div class="vr-in-li"> {{!-- Maybe add a conditional: if < 6 items: load vertical list. else if > 10 items: load list in rows of 3. else: load in rows of 2--}}
            {{#each ingArr}}
                <div class="li-div flex">
                    <input type="checkbox" name="on_list" class="shopping-list">
                    <p class='recipe-ingredients'>{{this}}</p>
                </div>
            {{/each}}
        </div>
    </div>

    <div id="vr-di" class="nr-di">
        {{!-- Recipe directions --}}
        <h2>Directions</h2>
        <hr>
        <div class="vr-di-li">
            <ol>
                {{#each dirArr}}
                <li>
                    <p class='recipe-directions'>{{this}}</p>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div id="nr-no" class="nr-no fl-col">
        {{!-- Writers notes --}}
        <hr>
        <h2>Notes</h2>
        <div class="nr-no-ta">
                {{#each note}}
                    <p class='recipe-notes'>{{this}}</p>
                {{/each}}
        </div>
    </div>
    <hr>

    <div id="vr-nu" class="nr-nu"> {{!-- Probably move this to the "View saved" page and leave it out of creating --}}
        {{!-- Nutrition info, no user input here --}}
        <h3>Nutrition Info</h3>

    </div>
</div>